.cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*gap: var(--mob-padding);*/
    margin-top: 30px;
}

.col h3 {
    text-align: left;
    font-weight: 600;
    color: #06460f;
}

.col-1 {
    width: 40%;
    padding-right: 30px;
}

.col-2 {
    max-width: 60%;
}

.col img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
    transition: transform 0.3s ease;
}

.col img:hover {
    transform: scale(1.2); 
}

@media screen and (max-wisth: 640spx) {
    .col-1, .col-2 {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
    }
    .col h3 {
        text-align: center;
    }
}